<style>
    .selectInput{
        width: 100% !important;
    }
</style>

<div class="options text-center text-white" style="flex-direction: column !important;
        height: 25% !important;">
    <input name="open" type="text" placeholder="Vul hier uw antwoord in" class="btn btn-outline-light py-3 px-5 selectInput">
    <input name="openSubmit" type="submit" value="Wil ik liever niet zeggen" class="btn btn-outline-light py-3 px-5 selectInput">
</div>