{% extends 'base.html.twig' %}

{% block title %}Nieuwsbricht{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contactstyles') }}
{% endblock %}
{% block body %}
        {% include 'components/header.html.twig' %}
<div class="container-fluid background py-5 contact-page">
    <div class="container aboutcontent h-100">
        <div class="contact-title">
    <h1 style="font-size:48px;">Nieuwsberichten overzicht</h1>
        </div>
    <table class="table">
        <tbody>
        {% for blog in blogs %}
            <tr style="color:white;">
                <td><h5>{{ blog.Title | raw }}</h5></td>
                <td>{{ blog.Samenvatting | raw }}</td>
                <td>
                    <a href="{{ path('blog_show', {'id': blog.id}) }}">Lees het bericht</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
