{% extends 'base.html.twig' %}

{% block title %}Edit QuestionType{% endblock %}

{% block body %}
    <h1>Edit QuestionType</h1>

    {{ include('question_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('question_type_index') }}">back to list</a>

    {{ include('question_type/_delete_form.html.twig') }}
{% endblock %}
